.headline {
	font-family: $font-headline;
	font-weight: 300;
}

.subline {
	font-size: $font-size-content;
	font-family: $font-sans;
	font-weight: 300;
}

.fat {
	font-size: $font-size-medium;
	// font-weight: normal;
	font-family: $font-headline;
	font-weight: 300;
}

.fat-nav {
	font-size: $font-size-medium;
	// font-weight: normal;
	font-family: $font-sans;
	letter-spacing: rem(0.5);
	font-weight: 300;
}

.small-text {
	font-family: $font-sans;
	font-size: $font-size-small;
	font-weight: 300;
}
